@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Poppins:wght@500&display=swap');
*{
  padding: 0px;
  margin: 2px;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  color: white;
}

.padre{
  display: flex;
  flex-flow: column nowrap;
  }


.header{
  background: url(../img/tablas.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column nowrap;
  height: 940px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(9,1fr);
  
}
  
    .menu{
     background: rgba (0,0,0,1);
     display: flex;
     flex-flow: row nowrap;
     height: 60px;
     align-items: center ;
     grid-column: 1/9;
     }
      .logo{
       flex: 1 1 auto;
       display: flex;
       justify-content: center;
       }
         .logo img{
           width: 50px;
           height: 50px ;
           opacity: 50%;
           }
           
      .navbar{
         display: flex; 
         flex: 1 1 auto;
         justify-content: center;
         justify-content: space-around;
         }
         .navbar a{
           font-size: 10px;
           padding: 0 10px;
           letter-spacing: 2px;
           }
           .navbar a:hover{
            border-bottom: 1px solid white;
            border-radius: 2px;
           }
      .redessociales{
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
        } 
         .redessociales a{
           font-size: 18px;
           padding: 0 1px;
          } 
            .redessociales a:hover{
              color: white;
              border-bottom: 1px solid white;
              border-radius: 2px
            }
           
    .footerprincipal{
      grid-column: 4/6;
      grid-row: 10;
      }   
        .footer{
          text-align: center;
          font-size: 10px;
          font-family: 'Cormorant', serif;
          list-style: none;
          color: rgb(255, 255, 255)  ;
        }
        .pie li{
          width: 300px; 
          color: white;
          padding: 10px;
          }
           .piedos li{
          width: 300px;
          color: white;
          padding: 10px;
          }
         /*termina el index*/

  
        

   